<div class="container-center">
    <h1>Registre Seu PET!</h1>
    <form>
        <div class="form-group">
            <label for="nome">Doador</label>
            <input type="text" name="nome" class="form-control">
        </div>
        <div class="form-group">
            <label for="nome">Nome do Pet</label>
            <input type="text" name="nome" class="form-control">
        </div>
        <div class="form-group">
            <label for="nome">Espécie</label>
            <input type="text" name="nome" class="form-control">
        </div>
        <div class="form-group">
            <label for="nome">Whatsapp</label>
            <input type="text" name="nome" class="form-control">
        </div>
        <div class="form-group">
            <label for="nome">Descrição</label>
            <input type="text" name="nome" class="form-control">
        </div>
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="image" name="nome" class="form-control">
        </div>
    </form>
</div>