<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand p-0 me-2" href="/" aria-label="Pettito">
            <img width="60px" height="60px" src="../../assets/image/logo.svg" alt="Pettito" title="Pettito"> 
        </a>
            <a routerLink="pets" class="navbar-brand">Petitto</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item active">
                    <a routerLink="pets" class="nav-link">Pets</a>
                </li>
                <li class="nav-item">
                    <a routerLink="cadastro" class="nav-link">Doar PET</a>
                </li>
                <li class="nav-item">
                    <a routerLink="doar" class="nav-link">Sobre</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>